# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/WorkWithFiles/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/WorkWithFiles/FileContentIndex/536b4ab0-8733-4a9e-83cc-d453bfcd8f25.vsidx
/WorkWithFiles/Task4/obj/Debug/net7.0
/WorkWithFiles/Task3/obj/Debug/net7.0
/WorkWithFiles/Task4/obj/project.assets.json
/WorkWithFiles/Task4/obj/project.nuget.cache
/WorkWithFiles/Task4/obj/Task4.csproj.nuget.dgspec.json
/WorkWithFiles/Task4/obj/Task4.csproj.nuget.g.props
/WorkWithFiles/Task4/obj/Task4.csproj.nuget.g.targets
/WorkWithFiles/Task3/obj/project.assets.json
/WorkWithFiles/Task3/obj/project.nuget.cache
/WorkWithFiles/Task3/obj/Task3.csproj.nuget.dgspec.json
/WorkWithFiles/Task3/obj/Task3.csproj.nuget.g.props
/WorkWithFiles/Task3/obj/Task3.csproj.nuget.g.targets
/WorkWithFiles/.vs/WorkWithFiles/v17
/WorkWithFiles/.vs/WorkWithFiles/FileContentIndex
/WorkWithFiles/Task2/obj
/WorkWithFiles/Task1/obj/Debug/net7.0
/WorkWithFiles/Task1/obj/project.assets.json
/WorkWithFiles/Task1/obj/project.nuget.cache
/WorkWithFiles/Task1/obj/Task1.csproj.nuget.dgspec.json
/WorkWithFiles/Task1/obj/Task1.csproj.nuget.g.props
/WorkWithFiles/Task1/obj/Task1.csproj.nuget.g.targets
